.opacity-85 { opacity: .85; }
.card .badge.bg-gray-100 { background: #f6f9fc !important; }
.move-on-hover:hover { transform: translateY(-2px); transition: .2s ease; }
.abstract-card .flex-grow-1 {min-width: 0;}