<!-- templates/_sidebar.html -->
<aside id="sidenav-main">
  <div class="sidebar-header">
    <button id="toggleSidebar" class="btn btn-sm btn-outline-secondary" aria-controls="sidenav-main" aria-expanded="true" title="Toggle sidebar">
      <img class="icon-img" src="{{ url_for('static', filename='icons/sidebar.svg') }}" alt="" aria-hidden="true">
    </button>
  </div>

  <nav>
      <a id="login-btn" href="/google/login" class="btn btn-outline-primary mb-2 nav-link">
        <img class="icon-img" src="{{ url_for('static', filename='icons/google.svg') }}" alt="" aria-hidden="true">
        <span class="label">Sign in with Google</span>
      </a>
      
      <a class="btn btn-outline-secondary mb-4 nav-link card text-center border " href="#profile">
        <img id="user-pic"
               src=""
               alt="User avatar"
               width="35"
               height="35">
        <span id="user-name" class="text-uppercase label"></span>
      </a>

      <a id="logout-btn" href="/google/logout" class="btn btn-outline-secondary mb-6 nav-link" >
        <img class="icon-img" src="{{ url_for('static', filename='icons/logout.svg') }}" alt="" aria-hidden="true">
        <span class="label">Logout</span>
      </a>

    <div class="mt-3 mb-2 text-uppercase text-xs opacity-6" style="padding-left:6px;">All Users</div>
    <a class="btn btn-outline-secondary mb-2 nav-link" href="{{ url_for('dashboard') }}">
      <img class="icon-img" src="{{ url_for('static', filename='icons/dashboard.svg') }}" alt="" aria-hidden="true">
      <span class="label">Dashboard</span>
    </a>
    
    <div class="mt-3 mb-2 text-uppercase text-xs opacity-6" style="padding-left:6px;">Abstract Grader</div>
    <a class="btn btn-outline-secondary mb-2 nav-link" href="abstractGrader"  rel="noopener">
      <img class="icon-img" src="{{ url_for('static', filename='icons/abstractGrading.svg') }}" alt="" aria-hidden="true">
      <span class="label">Abstract Grading</span>
    </a>

    <div class="mt-3 mb-2 text-uppercase text-xs opacity-6" style="padding-left:6px;">Organizer</div>
    <a class="btn btn-outline-secondary mb-2 nav-link" href="{{ url_for('schedule') }}">
      <img class="icon-img" src="{{ url_for('static', filename='icons/schedule.svg') }}" alt="" aria-hidden="true">
      <span class="label">Schedule</span>
    </a>
    
    <a class="btn btn-outline-secondary mb-2 nav-link" href="{{ url_for('organizer_user_status') }}">
      <img class="icon-img" src="{{ url_for('static', filename='icons/attendees.svg') }}" alt="" aria-hidden="true">
      <span class="label">Attendees</span>
    </a>

    <a class="btn btn-outline-secondary mb-2 nav-link" href="{{ url_for('program') }}">
      <img class="icon-img" src="{{ url_for('static', filename='icons/program.svg') }}" alt="" aria-hidden="true">
      <span class="label">Program</span>
    </a>

  </nav>
</aside>

<script src="{{ url_for('static', filename='sidebar.js') }}"></script>
