{% extends "base.html" %}

{% block title %}General Dashboard{% endblock %}

{% block content %}

<h3 class="mb-3">Program</h3>
<div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
  <div class="col">
    <div class="card card-plain card-blog h-100">
      <div class="card-image border-radius-lg position-relative">
        <a href="javascript:;">
          <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-bags.jpg" />
        </a>
      </div>
      <div class="card-body px-0">
        <h5><a href="javascript:;" class="text-dark font-weight-bold">dooo doo dodoooo</a></h5>
        <p>!!! hi</p>
        <a href="javascript:;" class="text-info icon-move-right">Read More
          <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-plain card-blog h-100">
      <div class="card-image border-radius-lg position-relative">
        <a href="javascript:;">
          <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-wall.jpg" />
        </a>
      </div>
      <div class="card-body px-0">
        <h5><a href="javascript:;" class="text-dark font-weight-bold">ba babah bahhh</a></h5>
        <p>!!! hello</p>
        <a href="javascript:;" class="text-info icon-move-right">Read More
          <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card card-plain card-blog h-100">
      <div class="card-image border-radius-lg position-relative">
        <a href="javascript:;">
          <img class="w-100 border-radius-lg move-on-hover shadow" src="https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/color-clock.jpg" />
        </a>
      </div>
      <div class="card-body px-0">
        <h5><a href="javascript:;" class="text-dark font-weight-bold">twiddledee n twiddledum</a></h5>
        <p>!!! wah</p>
        <a href="javascript:;" class="text-info icon-move-right">Read More
          <i class="fas fa-arrow-right text-sm" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<h3 class="mb-3 d-flex align-items-center justify-content-between">
  <span>Upcoming</span>
  <a href="#show-all" class="text-info text-sm">Show all</a>
</h3>


<div id="upcoming-container" class="vstack gap-3">
  
</div>

{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/upcoming.js') }}"></script>
{% endblock %}
