{% extends "base.html" %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<div class="row g-4">

  <!-- Left Column -->
  <div class="col-12 col-lg-8 d-flex flex-column" style="min-height: 100vh;">
    <!-- Create Presentation (info)-->
    <!-- Input Information -->
      <div class="row text-center py-3 mt-3">
  <div id = "signup-container" class="col-4 mx-auto">
    <h4 class="mb-4">Register Presentation</h4>
    <label for="title" class="form-label text-start w-100">Title</label>
    <input id="title" type="text" placeholder="Title" class="form-control" >
    <label for="subject" class="form-label text-start w-100 mt-3">Subject</label>
    <input id = "subject" type ="text" placeholder="Subject" class="form-control mt-3">
        <div class="form-group mb-4">
              <label>Abstract</label>
              <textarea name="Abstract" class="form-control" id="Abstract" rows="4"></textarea>
            </div>
    <label for="Type" class="form-label text-start w-100 mt-3">Type</label>
    <select id="Type" class="form-select" aria-label="Type">
      <option selected>Select your presentation type</option>
      <option value="1">Presentation</option>
      <option value="2">Blitz</option>
      <option value="3">Poster</option>
    </select>
    <button id="signup-submit" class="btn btn-primary mt-4">Submit</button>
    </div>

    


<!-- Right Column -->
<div class="col-12 col-lg-4">
    


    <!-- delete account -->
    <div class="text-center py-3 border-top mt-auto bg-light">
      <button id="delete-account-btn" class="btn btn-danger">Delete Account</button>
</div>


{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}